<div class="container" novalidate>
    <form [formGroup]="subscriptionFormGroup" autocomplete="off" #f="ngForm" (ngSubmit)="onSubmit()" class="form">

        <div class="form-element">
            <!-- <mat-error *ngIf="formWarning && (subscriptionFormGroup.touched || subscriptionFormGroup.dirty)">[Form is
                invalid]</mat-error>-->
            <mat-error *ngFor="let message of messages">[{{message.field}}] {{message.message}}</mat-error>
        </div>

        <mat-form-field class="form-element">
            <input matInput placeholder="Email" formControlName="email">
            <!-- <mat-hint>Required</mat-hint> -->
            <mat-error *ngIf="email.errors && (formWarning || email.touched || email.dirty)">
                {{getEmailErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field placeholder="Subscription" class="form-element">
            <mat-select formControlName="subscription">
                <mat-option *ngFor="let type of subscriptionTypes" [value]="type.value">{{type.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="Password" type="password" formControlName="password" minlength="8"
                maxlength="8">
            <mat-hint>Required. Choose a password of at least eight characters with one special character</mat-hint>
            <mat-error *ngIf="password.errors && (password.touched || password.dirty)">{{getPasswordErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <div class="button-row">
            <button mat-raised-button color="primary" type="submit" class="btn btn-primary">Submit</button>
            <button mat-raised-button [disabled]="!subscriptionFormGroup.touched || !subscriptionFormGroup.dirty"
                color="primary" type="button" class="btn btn-primary" (click)="onClear(f)">Clear</button>
        </div>

    </form>
</div>