
  .container {
    padding: 10px;
  }
  
  .form {
    min-width: 350px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button-row button,
  .button-row a {
    margin-right: 8px;
  }